.events {
	padding-top: var(--space-xl);
	padding-bottom: 6rem;
}

.events__list {
	display: flex;
	flex-direction: column;
}

.event-card {
	grid-template-columns: 60px 1fr;
}

.event-card__content {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding-top: var(--space-lg);
}

.event-card__where {
	font-family: var(--font-second);
	color: var(--text-muted);
	font-size: 0.8rem;
	font-style: italic;
}

.event-card__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-md);
	margin-top: var(--space-xs);
	font-size: 0.8rem;
}

.event-card__time {
	color: var(--text);
	font-weight: 600;
}
